.feedback {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  .intro {
    position: relative;
    .mot {
      color: $color-2;
      font-family: $font-1;
      font-weight: 400;

      position: absolute;
      transform: rotate(-20deg);
      -ms-transform: rotate(-20deg); /* IE 9 */
      top: 2%;
      left: -4%;
    }
    h4 {
      font-family: $font-1;
      font-size: 3.7rem;
      padding-top: 30px;
    }
    .caption {
      display: flex;
      margin-top: 20px;

      hr {
        border: none;
        border-top: 2px solid #333;
        width: 32px;
        margin-top: 7px;
        padding-right: 20px;
        margin-right: 20px;
      }
      .caption1 {
        font-size: 1rem;
        font-family: $font-2;
        color: #4f4f4f;
      }
    }
  }

  .feed {
    padding-top: 30px;
    padding-bottom: 30px;
    // display: flex;
    // flex-direction: column;
    @include container;

    .arrow-nav-swiper {
      display: flex;
      justify-content: space-around;
      .swiper-button-prev,
      .swiper-button-next {
        width: 48px;
        height: 48px;
        position: initial;
        width: max-content;
        height: max-content;
        border: none;
        background: none;
      }
      ::after {
        display: none;
      }
    }
    .slide {
      height: min-content;
      .container {
        position: relative;

        width: fit-content;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;

        .trait1 {
          border: none;
          border-top: 2px solid #333;
          width: 100%;
          padding-top: 10px;
          margin-top: 20px;
          padding-right: 20px;
          margin-right: 20px;
          padding-bottom: 20px;
        }
        .img {
          .fond {
            background-color: $color-2;
            height: 200px;
            width: 200px;
            position: absolute;
            transform: scale(54%);
            right: 17%;
            bottom: 49%;
            border-radius: 50%;
            z-index: -4;
            opacity: 0.4;
          }
          .imge {
            // border: solid 3px #333;
            border-radius: 50%;
            object-fit: cover;
            // width: 52px;
          }
        }

        .container-text {
          padding-top: 20px;
          // width: 200px;

          .text {
            font-family: $font-2;
            font-size: 0.9rem;
          }
        }

        .container-name {
          padding-top: 20px;
          .name {
            font-family: $font-1;
            font-size: 1rem;
          }

          .container-poste {
            display: flex;
            justify-content: space-between;
            width: max-content;
            padding-top: 5px;

            .poste-trait {
              border: none;
              border-top: 2px solid $color-2;
              width: 25px;
              margin-top: 7px;
              padding-right: 10px;
              margin-right: 10px;
            }
            .poste {
              font-family: $font-1;
              font-size: 0.9rem;
              color: #4f4f4f;
            }
          }
        }
      }

      .end-trait {
        border: none;
        border-top: 2px solid #333;
        width: 100%;
        padding-top: 10px;
        margin-top: 20px;
        padding-right: 20px;
        margin-right: 20px;
        padding-bottom: 40px;
      }

      .swiper-pagination-bullet-active {
        background-color: $color-2;
        transform: scale(160%);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .feedback .intro .mot {
    left: -2%;
  }
  .feedback .feed .container .img .fond {
    left: 37%;
    top: -5px;
  }
}

@media screen and (min-width: 912px) {
  .feedback .intro .mot {
    left: -0%;
  }
}

@media screen and (min-width: 1024px) {
  .feedback {
    .intro {
      display: flex;

      .caption {
        padding-top: 50px;
        padding-left: 40px;
      }

      h4 {
        font-size: 3rem;
      }
    }
  }

  .feedback {
    .feed {
      .slide {
        height: 400px;
        padding-top: 20px;
      }
      .container {
        display: flex;
        flex-direction: row;

        position: relative;

        .container-teste {
          padding-left: 350px;
          padding-right: 50px;
        }
      }
    }
  }

  .feedback .feed .container .img {
    left: 50px;
    position: absolute;
    width: 230px;
    top: 20px;
  }
  .feedback .feed .container .img .imge {
    border-radius: 10%;
  }

  .feedback .feed .container .img .fond {
    height: 370px;
    width: 370px;
    border-radius: 10%;
    left: -10%;
    top: -10%;
  }
  .feedback .feed .container .container-name {
    padding-top: 30px;
    margin-bottom: 40px;
  }

  .feedback .feed .container .container-text .text {
    font-size: 1rem;
    line-height: 150%;
    font-family: $font-1;
  }

  .feedback .swiper-button-prev {
    transform: scale(200%);
  }
  .feedback .swiper-button-next {
    transform: scale(200%);
  }
}

@media screen and (min-width: 1440px) {
  .feedback {
    padding-left: 60px;
  }

  .feedback .intro .caption .caption1 {
    width: 90%;
  }
}
