.feedback {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  .intro {
    position: relative;
    .mot {
      color: $color-2;
      font-family: $font-1;
      font-weight: 400;

      position: absolute;
      transform: rotate(-20deg);
      -ms-transform: rotate(-20deg); /* IE 9 */
      top: 2%;
      left: -4%;
    }
    h4 {
      font-family: $font-1;
      font-size: 3.7rem;
      padding-top: 30px;
    }
    .caption {
      display: flex;
      margin-top: 20px;

      hr {
        border: none;
        border-top: 2px solid #333;
        width: 32px;
        margin-top: 7px;
        padding-right: 20px;
        margin-right: 20px;
      }
      .caption1 {
        font-size: 1rem;
        font-family: $font-2;
        color: #4f4f4f;
      }
    }
  }

  .feed {
    padding-top: 30px;
    padding-bottom: 30px;

    .container {
      position: relative;

      width: fit-content;
      justify-content: center;
      align-items: center;
      align-content: center;
      display: flex;
      flex-direction: column;

      .trait1 {
        border: none;
        border-top: 2px solid #333;
        width: 100%;
        padding-top: 10px;
        margin-top: 20px;
        padding-right: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
      }
      .img {
        .fond {
          background-color: $color-2;
          height: 200px;
          width: 200px;
          position: absolute;
          transform: scale(54%);
          right: 17%;
          bottom: 49%;
          border-radius: 50%;
          z-index: -4;
          opacity: 0.4;
        }
        .imge {
          // border: solid 3px #333;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .container-text {
        padding-top: 20px;
        // width: 200px;

        .text {
          font-family: $font-2;
          font-size: 0.9rem;
        }
      }

      .container-name {
        padding-top: 20px;
        .name {
          font-family: $font-1;
          font-size: 1rem;
        }

        .container-poste {
          display: flex;
          justify-content: space-between;
          width: max-content;
          padding-top: 5px;

          .poste-trait {
            border: none;
            border-top: 2px solid $color-2;
            width: 25px;
            margin-top: 7px;
            padding-right: 10px;
            margin-right: 10px;
          }
          .poste {
            font-family: $font-1;
            font-size: 0.9rem;
            color: #4f4f4f;
          }
        }
      }
    }

    .end-trait {
      border: none;
      border-top: 2px solid #333;
      width: 100%;
      padding-top: 10px;
      margin-top: 20px;
      padding-right: 20px;
      margin-right: 20px;
      padding-bottom: 40px;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-2;
      transform: scale(160%);
    }
  }

  .swiper-button-next {
    color: #333;
    // transform: translate(0, 150px);
    background-image: url("/feed/Arrow\ up.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: scale(150%);
    // transform: translate(-20%, 150px);
    top: 93%;
    right: 20%;
  }
  ::after {
    display: none;
  }
  .swiper-button-prev {
    color: #333;
    // transform: translate(0, 150px);
    background-image: url("/feed/Arrow\ down.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: scale(150%);
    top: 93%;
    left: 20%;
  }

  // .swiper-button-next {
  //   background-color: #333;
  //   height: 20px;
  //   width: 100px;
  // }
}

@media screen and (min-width: 768px) {
  .feedback .intro .mot {
    left: -2%;
  }
  .feedback .feed .container .img .fond {
    left: 37%;
    top: -5px;
  }
}

@media screen and (min-width: 912px) {
  .feedback .intro .mot {
    left: -0%;
  }
}

@media screen and (min-width: 1024px) {
  .feedback {
    .intro {
      display: flex;

      .caption {
        padding-top: 50px;
        padding-left: 40px;
      }

      h4 {
        font-size: 3rem;
      }
    }
  }

  .feedback {
    .feed {
      .slide {
        height: 400px;
        padding-top: 20px;
      }
      .container {
        display: flex;
        flex-direction: row;

        position: relative;

        .container-teste {
          padding-left: 350px;
          padding-right: 50px;
        }
      }
    }
  }

  .feedback .feed .container .img {
    left: 50px;
    position: absolute;
    width: 230px;
  }
  .feedback .feed .container .img .imge {
    border-radius: 15%;
  }

  .feedback .feed .container .img .fond {
    height: 425px;
    width: 334px;
    border-radius: 167px;
    left: 70%;
  }
}
