.home {
  background-image: url("/home/Primo\ frances\ img.svg"),
    url("/home/Polygon 3.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;

  background-size: 30rem, 100%;
  background-position-y: -3.3em, center;
  background-position-x: 20px, center;

  margin-top: 50px;
  padding-top: 20px;

  // width: 100%;
  // height: 100%;

  cite {
    visibility: hidden;
  }

  .scroolContainer {
    left: 45%;
    top: -80%;
    position: relative;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */

    visibility: hidden;
    .scrool1 {
      border: none;
      border-top: 2px solid #4f4f4f;
      // transform: rotate(-90deg);
      width: 40px;
      margin: 20px;
    }
    .scrool2 {
      border: none;
      border-top: 2px solid #4f4f4f;
      // transform: rotate(-90deg);
      width: 200px;
    }
  }
  .mot {
    position: absolute;
    top: 80px;
    color: $color-2;
    font-family: $font-1;
    font-weight: 400;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg); /* IE 9 */
  }
  h1 {
    font-family: $font-1;
    font-weight: 500;
    font-size: 2.4rem;
    // line-height: 3rem;
    padding-left: 20px;
    margin-top: 5px;
    padding-right: 10px;
  }

  .caption {
    display: flex;
    padding-left: 10px;
    margin-top: 5px;
    hr {
      border: none;
      border-top: 2px solid #333;
      width: 32px;
      overflow: visible;
      text-align: center;
      height: 5px;
      margin-top: 7px;
    }
    .caption1 {
      font-size: 1rem;
      font-family: $font-2;
      color: #4f4f4f;
      width: fit-content;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  a:link {
    text-decoration: none;
    &visited {
      text-decoration: none;
    }
  }
  button {
    margin-top: 40px;
    margin-left: 20px;
    padding: 15px;
    text-transform: none;
    border-radius: 16px;
    line-height: 1.3rem;
  }
}

@media screen and (min-width: 360px) {
  .home {
    background-size: 150%, 160%;
    background-position-y: 125%, center;
    background-position-x: -36px, center;
    height: 700px;
  }
}

@media screen and (min-width: 375px) {
  .home {
    background-size: 37rem, 550px;
    background-position-y: 107%, center;
    background-position-x: -36px, center;
    height: 650px;
  }
}

@media screen and (min-width: 390px) {
  .home {
    background-size: 37rem, 550px;
    background-position-y: 103%, center;
    background-position-x: -36px, center;
    height: 650px;
  }
}

@media screen and (min-width: 412px) {
  .home {
    background-size: 37rem, 550px;
    background-position-y: 100%, center;
    background-position-x: -36px, center;
  }
}

@media screen and (min-width: 425px) {
  .home {
    background-size: 37rem, 550px;
    background-position-y: 97%, center;
    background-position-x: 25%, center;

    .caption {
      margin-top: 20px;
    }
    button {
      margin-top: 70px;
      width: 150px;
    }
  }
}

@media screen and (min-width: 600px) {
  .home {
    background-size: 110%, 550px;
    background-position-y: 100%, center;
    background-position-x: 27px, center;

    .mot {
      padding-left: 10px;
      padding-top: 20px;
    }
    h1 {
      padding-top: 20px;
    }
    .caption {
      padding-top: 20px;
      width: 390px;
    }
  }
  button {
    left: 6%;
  }
}

@media screen and (min-width: 630px) {
  .home {
    background-size: 110%, 550px;
    background-position-y: 97%, center;
    background-position-x: -20%, center;

    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    .caption {
      margin-top: 20px;
      width: 370px;
    }
    button {
      margin-top: 70px;
      width: 150px;
      left: 10%;
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    background-image: url("/home/primo img desktop.svg"),
      url("/home/Polygon 3.svg");
    background-size: 45%, 50%;
    background-position-y: bottom, bottom;
    background-position-x: 84%, right;

    .scroolContainer {
      visibility: visible;
      left: 350px;
    }

    h1 {
      width: 480px;
      font-family: $font-1;
      font-weight: 600;
      font-size: 4rem;
      margin-left: 10px;
    }

    button {
      margin-top: 30px;
      left: 10px;
    }
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 912px) {
  .home {
    .scroolContainer {
      left: 400px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home {
    background-image: url("/home/primo img desktop.svg"),
      url("/home/Polygon 3.svg");

    background-size: 540px, 530px;
    background-position-y: bottom, bottom;
    background-position-x: 86%, right;

    margin-top: 90px;
    margin-left: 20px;
    height: 800px;
    padding-right: 40px;

    .mot {
      top: 14%;
      left: 3%;
    }
    h1 {
      width: 480px;
      font-size: 4rem;
      margin-left: 10px;
    }
    button {
      margin-top: 30px;
    }

    .scroolContainer {
      left: 50%;
      top: -50%;
    }

    cite {
      visibility: visible;
      position: absolute;
      left: 83%;
      top: 40%;
      word-wrap: break-word;
      // width: 100px;
      margin-right: 10px;
      font-family: $font-1;
      color: #4f4f4f;
      font-size: 0.9rem;
      quotes: "« " " »";
    }
  }
}

@media screen and (min-width: 1440px) {
  .home {
    background-image: url("/home/primo img desktop.svg"),
      url("/home/Polygon 3.svg");

    background-size: 645px, 530px;
    background-position-y: bottom, bottom;
    background-position-x: 80%, 85%;

    .mot {
      top: 14%;
      left: 2%;
    }

    h1 {
      font-family: $font-1;
      font-weight: 400;
    }
    cite {
      position: absolute;
      left: 80%;
      top: 30%;
      font-family: $font-1;
      font-size: 1rem;
      word-wrap: break-word;
      // width: 100px;
      margin-right: 20px;
      color: #4f4f4f;
    }
    .scroolContainer {
      visibility: visible;
      top: -65%;
      left: 630px;
    }
  }
}
