.media {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: fit-content;

  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-area: "a b";
  // .call-action {
  //   // grid-area: a;
  //   font-family: $font-2;
  // }
  .call-action {
    font-family: $font-2;
  }

  .icontact {
    display: flex;
    // padding-right: 5px;

    //   // grid-area: b;

    .rs {
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .media {
    position: relative;
    top: -110px;
    left: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .media {
    position: relative;
    top: -140px;
    left: 20px;
  }
}
