.projet {
  padding-left: 20px;
  padding-right: 20px;
  background-color: $color-1;
  padding-top: 50px;

  .cta-top {
    position: relative;

    .button-cta {
      position: absolute;

      left: 34%;
      top: -120px;
      width: 200px;
    }
  }
}
