.skill-exp {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  .skill {
    position: relative;
    .mot {
      color: $color-2;
      font-family: $font-1;
      font-weight: 400;

      position: absolute;
      transform: rotate(-20deg);
      -ms-transform: rotate(-20deg); /* IE 9 */
      top: -5%;
      left: -4%;
    }
    h2 {
      font-family: $font-1;
      font-size: 3.8rem;
      margin-top: 40px;
    }
    .caption {
      display: flex;
      margin-top: 20px;

      hr {
        border: none;
        border-top: 2px solid #333;
        width: 32px;
        margin-top: 7px;
        padding-right: 20px;
        margin-right: 20px;
      }
      .caption1 {
        font-size: 1rem;
        font-family: $font-2;
        color: #4f4f4f;
      }
    }
    .item-skill {
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;

      h4 {
        font-size: 1.9rem;
        font-family: $font-2;
      }
      .item-container {
        padding-top: 20px;
        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        //   align-items: center;
        //   align-content: center;
        //   justify-content: center;
        ul {
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          justify-content: space-between;
          li {
            list-style: none;
            padding: 10px;
            padding-bottom: 30px;
            width: 130px;
            .img {
              h3 {
                padding-top: 5px;
                font-family: $font-2;
                font-size: 1.3rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }

  .exp-container {
    padding-top: 20px;
    h3 {
      padding-top: 5px;
      font-family: $font-2;
      font-size: 1.3rem;
      font-weight: 400;
    }
    .exp {
      ul {
        li {
          list-style: none;
          padding-top: 20px;
          hr {
            border: none;
            border-top: 2px solid #333;
            width: 100%;
          }
          .info {
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            .date {
              font-family: $font-2;
            }
            .name {
              h4 {
                padding-top: 5px;
                font-size: 1.3rem;
                font-family: $font-1;
              }
              .company {
                font-family: $font-2;
                font-size: 0.8rem;
                padding-top: 10px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
    .container-img {
      margin: 0;
      padding: 0;
      height: fit-content;
      .img-button {
        height: fit-content;
        display: flex;
        position: relative;

        text-align: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;

        z-index: -4;

        .background {
          position: absolute;
          bottom: -50px;

          margin: 0;
          padding: 0;
        }

        .foto {
          position: relative;
          bottom: -40px;
          left: -1px;

          margin: 0;
          padding: 0;
          height: fit-content;
          width: 270px;
        }
      }
    }
    // .container-img {
    //   position: relative;

    //   left: 15%;

    //   margin: 0;
    //   padding: 0;
    //   .img-button {
    //     z-index: -3;
    //     height: 190px;
    //     position: relative;

    //     .background {
    //       position: absolute;
    //     }

    //     .foto {
    //       position: absolute;
    //       top: -35%;
    //       left: -40%;

    //     }
    //   }
    // }
  }
}
