* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto&display=swap");

$font-1: "Poppins", sans-serif;
$font-2: "Roboto", sans-serif;

$color-1: #edcc5d; // Primary  Orange
$color-2: #8873f0; // Scondary purple
$color-3: #b9f2fe;
